{
    "extends": "eslint:recommended",
    "plugins": ["angular"],
    "env": {
        "browser": true,
        "jasmine": true
    },
    "ecmaFeatures": {
        "modules": true
    },
    "globals": {
        "angular": true,
        "module": true,
        "inject": true,
        "_": true,
        "L": true
    }
}
