#main-map {
    height: 500px;
}

.overlay-icon {
    background: map(colors, grey);
    border: 3px solid map(colors, white);
    border-radius: 50%;
    box-shadow: 0 0 3px 3px rgba(94, 94, 94, .6);

    &--attraction {
        background: map(colors, green);
    }

    &--culture {
        background: map(colors, blue);
    }

    &--church {
        background: map(colors, red);
    }
}
